<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="publish_kinect1_tuning_tf" default="true" />
	<arg name="publish_kinect2_tuning_tf" default="true" />
	<arg name="publish_projector_tuning_tf" default="true" />
	<arg name="publish_calibration_pattern_tf" default="true" />
	<arg name="publish_chessboard" default="true" />


	<!-- ===== calibrations ===== -->

	<!-- change origin -->
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_map_top_left_z_down" args="0.30735 0 0 0 3.14159265359 0 map chessboard 10" />

	<!-- chessboard corner detection for asus xtion pro live -->
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_kinect1_chessboard_correction" args="0.0055 0.001 -0.001 0 0.015 0 chessboard kinect1 10" if="$(arg publish_kinect1_tuning_tf)"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_kinect1_chessboard_rgb" args="0.0686079641022906 -0.0926029605222331 -0.5661204076905577 -0.0172438080036476 0.1627892368120197 0.9822309467842250 0.0917860699837321 kinect1 kinect_rgb 10" />
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_kinect1_chessboard" args="-0.045 0 0 0.5 -0.5 0.5 0.5 kinect_rgb camera_link 10" />

	<!-- chessboard corner detection for kinect 2 -->
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_kinect2_chessboard_correction" args="-0.004 0.011 -0.01 0 -0.03 0.015 chessboard kinect2 10" if="$(arg publish_kinect2_tuning_tf)"/>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_kinect2_chessboard" args="0.2787143199791854 0.5054689140948931 -0.6966788661793530 0.1905154922179086 0.0079473857324088 -0.0012991295996905 0.9816511592960462 kinect2 kinect2_link 10" />

	<!-- camera-projector calibration -->
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_camera_projector" args="0.1495425858446944 -0.1147662341704971 0.7838106147694257 0.9965488742105985 -0.0826601153686833 0.0075895259896155 0.0002138505964745 map projector 10" />

	<!-- change from image axis to ros axis convention -->
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_projector_axis" args="0 0 0 1.57079632679 -1.57079632679 0 projector projector_fixed_axis 10" />

	<!-- camera-projector calibration tuning -->
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_projector_tuning" args="-0.03 -0.05 0.027 0.017 0.0005 -0.164 projector_fixed_axis projector_link 10" if="$(arg publish_projector_tuning_tf)"/>

	<node pkg="chessboard_publisher" type="publisher" name="chessboard_publisher" output="screen" if="$(arg publish_chessboard)">
		<param name="name" value="chessboard" />
		<param name="grid_x_size" value="11" />
		<param name="grid_y_size" value="8" />
		<param name="rect_x_size" value="0.03415" />
		<param name="rect_y_size" value="0.03415" />
	</node>


	<!-- ===== scene objects ===== -->
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_board" args="10.153675 0.10245 -0.0005 0 0 0 map calibration_pattern_link 10" if="$(arg publish_calibration_pattern_tf)"/>
</launch>
