<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<env name="GAZEBO_RESOURCE_PATH" value='$(find assembly_projection_mapping_teaching)/media:$(optenv GAZEBO_RESOURCE_PATH "")' />
	<arg name="use_gazebo_gui" default="false" />
	<arg name="world_folder" default="$(find assembly_projection_mapping_teaching)/worlds/" />
	<arg name="world_name" default="assembly.world" />
	<arg name="publish_tfs" default="true" />
	<arg name="show_image" default="true" />
	<arg name="start_sensors" default="true" />
	<arg name="show_rviz" default="true" />
	<arg name="publish_calibration_pattern_tf" default="false" />

	<include file="$(find gazebo_projection_mapping)/launch/gazebo_projection_mapping.launch">
		<arg name="use_gazebo_gui" default="$(arg use_gazebo_gui)" />
		<arg name="world_folder" default="$(arg world_folder)" />
		<arg name="world_name" default="$(arg world_name)" />
		<arg name="show_image" default="$(arg show_image)" />
	</include>

	<node pkg="gazebo_projection_mapping" type="gpm_tf_to_link_state_node" name="gpm_tf_to_link_state_node_calibration_pattern" respawn="true" clear_params="true" output="screen" if="$(arg publish_calibration_pattern_tf)">
		<param name="gazebo_link_name" type="str" value="calibration_pattern_link" />
		<param name="tf_source_frame" type="str" value="calibration_pattern_link" />
		<param name="publish_rate" type="double" value="1"/>
	</node>

	<node pkg="gazebo_projection_mapping" type="gpm_tf_to_link_state_node" name="gpm_tf_to_link_state_node_assembled_object" respawn="true" clear_params="true" output="screen">
		<param name="gazebo_link_name" type="str" value="assembled_object_link" />
		<param name="tf_source_frame" type="str" value="assembled_object_link" />
		<param name="publish_rate" type="double" value="1"/>
	</node>

	<include file="$(find assembly_projection_mapping_teaching)/launch/assembly_tfs.launch" if="$(arg publish_tfs)" />
	<include file="$(find assembly_projection_mapping_teaching)/launch/assembly_manager.launch"/>
	<include file="$(find assembly_projection_mapping_teaching)/launch/object_recognition.launch"/>
	<include file="$(find assembly_projection_mapping_teaching)/launch/sensors.launch" if="$(arg start_sensors)"/>
	<include file="$(find occupancy_detection)/launch/occupancy_detection.launch"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find assembly_projection_mapping_teaching)/rviz/assembly.rviz" if="$(arg show_rviz)" respawn="true" clear_params="true" output="screen" />
</launch>
